* {
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

body {
    font-family: sans-serif;
}

button {
    cursor: pointer;
    transition: .4s;
    border: none;
    outline: none;
}

#header {
    box-shadow: 0 0 0 1px #1F2E35;
    padding: 20px 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.header-group {
    display: flex;
    align-items: center;
}
.header-logo img{
    width: 80px;
    height: auto;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo h1 {
    font-size: 30px;
    font-weight: 700;
    color: red;
    padding-left: 16px;
}


.headerBtn1{
    font-size: 16px;
    font-weight: 600;
    color: white;
    background: red;
    padding: 10px 25px;
    border-radius: 6px;
}
.headerBtn1:hover {
    background: transparent;
    transform: scale(1.1);
    color: red;
}

body {
    position: relative;
    height: 100%;
}

body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 120px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}
.slider{
    padding:100px;
}
.swiper-slide img{

    width: 100% ;
    height: auto;
}



